<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/style.css">
</head>
<body>
    <form class="register-form" action="/applicants/uploads" method="post" enctype="multipart/form-data">
        
        <p>Signed Decagon Participation Agreement?</p>
        <input required placeholder="Signed Decagon Participation Agreement" type="file" name="image"/>
    
        <p>NYSC Certificate/Exemption Certificate ( Original and two photocopies)</p>
        <input required placeholder="NYSC Certificate/Exemption Certificate ( Original and two photocopies" type="file" name="image"/>
 
        <p>University certificate/statement of results ( Original and two photocopies )</p>
        <input required placeholder="University certificate/statement of results ( Original and two photocopies )" type="file" name="image"/>
        <p> Photocopy of Valid ID Card i.e either of these: Driver license, NIN, International Passport, Permanent voters card. (It must not be expired)</p>
        <input required placeholder="Photocopy of Valid ID Card i.e either of these: Driver license, NIN, International Passport, Permanent voters card. (It must not be expired)" type="file" name="image"/>
        <p>Decagon Admission Letter</p>
        <input required placeholder="Decagon Admission Letter" type="file" name="image"/>
        <p>Decagon Participation</p>
        <input required placeholder="Decagon Participation" type="file" name="image"/>
        <p>Reference letter for loan processing</p>
        <input required placeholder="Reference letter for loan processing" type="file" name="image" />
        <p>Loan Application Letter</p>
        <input required placeholder="Loan Application Letter" type="file" name="image"/>
        <p>Signed Guarantor's Notarized Statement of net worth with a passport photograph attached (Original i.e physically signed copy) </p>
        <input required placeholder="Signed Guarantor's Notarized Statement of net worth with a passport photograph attached (Original i.e physically signed copy)" type="file" name="image" />
        <p>All pages of the Signed Personal guarantee and Indemnity form (Original i.e physically signed copy)</p>
        <input required placeholder="All pages of the Signed Personal guarantee and Indemnity form (Original i.e physically signed copy)" type="file" name="image"/>
        <p>Photocopy of Guarantor's Valid ID (i.e either of these: Drivers license, NIN, International Passport, Permanent voters card) </p>
        <input required placeholder="Photocopy of Guarantor's Valid ID (i.e either of these: Drivers license, NIN, International Passport, Permanent voters card)" type="file" name="image" />
        <button required type="submit" class="hh"> Submit</button>
      </form>
</body>
</html>